<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>

  <body>
    <div style="width: 100%; max-width: 650px; margin: auto">
      <!-- <div style="width: 100%;">
            <table style="width: 100%; text-align: center; padding: 0;">
                <tr>
                    <td>
                        <img src="https://abiaoneid.s3.eu-west-2.amazonaws.com/email_template/abia-logo.png"
                            alt="abia-logo" width="78px">
                    </td>
                </tr>
            </table>
        </div> -->
      <div style="background-color: #009688; width: 100%">
        <table style="width: 100%">
          <tr>
            <td>
              <img
                src="https://abiaoneid.s3.eu-west-2.amazonaws.com/email_template/bg.png"
                alt="bg"
                width="100%"
              />
            </td>
          </tr>
        </table>
        <table style="padding: 0 2rem 0 2rem; width: 100%">
          <tr>
            <td>
              <h2
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 33px;
                  letter-spacing: 0px;
                  color: #ffffff;
                  text-align: left;
                "
              >
                Dear {{name}},
              </h2>
            </td>
          </tr>
        </table>
        <table style="padding: 0 2rem 0 2rem; width: 100%">
          <tr>
            <td>
              <p
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: normal;
                  padding: 0;
                  margin: 0;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #ffffff;
                "
              >
                This is to notify you that the mail have finished processing,
                below is the Details of the Process.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <h2
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 33px;
                  letter-spacing: 0px;
                  color: #ffffff;
                  text-align: left;
                "
              >
                Batch {{batch}},
              </h2>
              <h2
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 33px;
                  letter-spacing: 0px;
                  color: #ffffff;
                  text-align: left;
                "
              >
                Count {{count}},
              </h2>
            </td>
          </tr>
        </table>
        <table style="padding: 0 2rem 2rem 2rem; width: 100%">
          <tr>
            <td>
              <p
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: normal;
                  padding: 0;
                  margin: 0;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #ffffff;
                "
              >
                Team Veripay Suite
              </p>
              <p
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: normal;
                  padding: 0;
                  margin: 0;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #ffffff;
                "
              >
                <a
                  style="
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: yellowgreen;
                  "
                  href="https://www.abia.live"
                  >www.abia.live</a
                >
              </p>
              <p
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: normal;
                  padding: 0;
                  margin: 0;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #ffffff;
                "
              >
                +234 (0) 915 748 4726
              </p>
              <p
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: normal;
                  padding: 0;
                  margin: 0;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #ffffff;
                "
              >
                Powered by Appmart
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div style="width: 100%">
        <table style="width: 100%">
          <tr>
            <td
              style="
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: center;
              "
            >
              <p
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: normal;
                  line-height: 18px;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #757474;
                "
              >
                Team Veripay Suite
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
