<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Eid Mubarak</title>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&display=swap" rel="stylesheet" />
</head>

<body style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #ffffff;
    ">
    <center>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="max-width: 720px; margin: auto">
            <!-- Banner with background image and text -->
            <tr>
                <td align="center" style="background-color: #f2f2f2; height: 180px">
                    <img src="../assets/Revotax.png" alt="" />
                </td>
            </tr>

            <tr>
                <td align="center" style="background-color: #fff; height: 200px">
                    <img src="../assets/rafiki.svg" alt="" style="
                  max-width: 60%;
                  width: 60%;
                  height: auto;
                  margin: 0px;
                  padding: 0%;
                " />
                </td>
            </tr>

            <tr>
                <td>
                    <h2
                        style="margin: 0; text-align: left; padding: 30px 20px 10px 20px; font-size: 24px; font-weight: bold;">
                        Dear {{name}},</h2>
                </td>
            </tr>
            <td align="center" style="
              padding: 30px 20px 10px 20px;
              color: #5E6974;
              font-size: 20px;
              font-weight: normal;
            ">
                <p style="margin: 0; text-align: left;">
                    We wish to let you know that our customer support team will be available to assist you during this
                    holiday season.
                </p>
                <p style="margin: 10px 0 0 0; text-align: left;">
                    If you require any assistance, please contact us through any of the following channels:
                </p>
                <div  style="text-align: left;">
                    <ul style="list-style: none;">
                        <li>Mobile Phone: <span style="color:#007AF3;">09025579505</span> </li>
                        <li> WhatsApp: <span style="color:#007AF3;">09025579505</span></li>
                        <li>Email: <span style="color:#007AF3;">customerservice@revotax.com</span> </li>
                        <li>Website: <span style="color:#007AF3;">https://appmart.ng</span> </li>
                    </ul>
                </div>
            </td>
            </tr>


            <!-- Footer -->
            <tr>
                <td style="background-color: #F6F6F6; height: 69px; text-align: center">
                    <p style="
                margin: 0;
                color: #252A2F;
                font-size: 14px;
                font-weight: normal;
                line-height: 59px;
              ">
                        © 2023 <span style="color: #007AF3;">Revotax</span> - All Rights Reserved
                    </p>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>